html {
    background-color: red;
}
p {	
  background-color: Purple; 
  color: Cyan 
}

img {
  border-style: inset; 
  border-width: 4px;
  border-color: mediumSlateBlue;
  width: 115px; 
}

h1 {
  font-family: 'Trebuchet MS', sans-serif; 
  font-size: 48px;
  color: purple;
  font-weight: normal; 
  border-style: dotted;
  border-color: purple; 
}

header {
  text-align: center; 
}

a {
  text-decoration: none;
  color: purple;	
}

a:hover {
	text-decoration: underline;
	color: pink;
}

a:visited {
	text-decoration: underline;
	color: pink;
	
